services:
  forkserver:
    image: oostvoort/anvil_forkserver:latest
    container_name: forkserver
    restart: unless-stopped
    ports:
      - '3000:3000'
      - '8545:8545'
    environment:
      - SERVER_PORT=3000
      - FORK_PORT=8545
      - FORK_CHAIN_ID=31337
      - FORK_MNEMONIC=test test test test test test test test test test test junk
      - FORK_BLOCK_NUMBER=0
      - FORK_JSON_RPC_URL=
      - FORK_BLOCK_TIME=0
  dashboard:
    image: oostvoort/anvil_forkserver_dashboard:latest
    container_name: forkserver-dashboard
    restart: unless-stopped
    ports:
      - '8080:8080'
