SERVER_PORT=3000
FOUNDRY_PATH=/home/mike/.foundry/bin
FORK_PORT=8545
FORK_CHAIN_ID=1337
FORK_MNEMONIC="test test test test test test test test test test test junk"
FORK_BLOCK_NUMBER=16666847
FORK_RPC_URL=https://mainnet.infura.io/v3/b3a8f90a849d47fabdc3bd44cb5d3632
